@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 2rem;
    /*background: #0f9ad6;*/
    background: rgb(54, 50, 50);
    scroll-behavior: smooth;
}

#main {
    position: relative;
}

#newCard {
    margin-top: 2rem;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(1, 4fr);
    justify-content: center;
    align-items: center;
    height: 20rem;
    font-family: 'Baloo Paaji 2', cursive;
    padding: 0 1rem 8rem 1rem;
    height: inherit;
    padding-bottom: 0%;
}

.flip-cards {
    /* position: relative;
    transition: transform 0.6s;*/
    transform-style: preserve-3d;
    margin-top: 1rem;
    height: 25rem;
    border-radius: 5px;
    align-items: center;
    color: white;
    border-radius: 15px;
    margin: 20px;
    transition: all ease 0.3s;
    box-shadow: inset 0px 5px 10px 0px #125590;
    background: url('img/main-img.jpg') bottom;


}

.flip-cards:hover {

    transform: translateY(5px);
    box-shadow: inset 0px 10px 20px 2px #125590;

}

p {
    font-weight: bold;
    font-family: verdana;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 18px 6px rgba(16, 16, 16, 0.4),
        1px 22px 10px rgba(16, 16, 16, 0.2),
        1px 30px 60px rgba(16, 16, 16, 0.4);
    letter-spacing: 0.15rem;
}

button,
input {
    border-radius: 0.4rem;
    font-weight: bold;
}

#wrapper>p:nth-child(6) {
    animation-duration: 5s;
}

.card__image {
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    margin-top: 3rem;
    box-shadow: 0px 5px 10px 0px #125590;
    background: #f5f5f538;

}

.btn {
    background: url('img/ct-log.png') no-repeat left;
    background-color: rgb(54, 50, 50);
    background-size: 3.8rem;
    border: 1px solid #0f9ad6;
    cursor: pointer;
    line-height: 1.5;
    letter-spacing: 0.05rem;
    width: 13rem;
    color: #0f9ad6;
    height: 3rem;
    text-align: end;
    padding: 0.5rem;
    font-size: 0.85rem;
    margin-top: 2rem;
    box-shadow: 3px 5px 10px 0px #0f9ad6;
}

.btnSubmit {
    width: 8rem;
    margin-left: 5rem;
    margin-top: 0rem
}

.btnTxt {
    margin-top: 2rem;
}

input {
    margin-top: 2rem;
    background: url('img/ct-log.png') no-repeat left;
    background-color: rgb(54, 50, 50);
    background-size: 3.8rem;
    border: 1px solid #125590;
    cursor: pointer;
    line-height: 1.5;
    letter-spacing: 0.05rem;
    width: 13rem;
    color: #0f9ad6;
    height: 3rem;
    text-align: end;
    padding: 0.5rem;
    font-size: 0.85rem;
    margin-bottom: 1rem;
    box-shadow: inset 0px 2px 4px #125590,
        inset 0px 4px 8px #125590,
        inset 0px 8px 16px #125590;
}

.window {
    background: url('img/back.png') no-repeat center;
    width: 3rem;
    margin-top: 2rem;
    background-color: rgb(54, 50, 50);
    background-size: 1.8rem;
    border: 1px solid #125590;
    cursor: pointer;
    width: 2.3rem;
    color: #0f9ad6;
    height: 2.8rem;
    text-align: end;
    box-shadow: inset 0px 1px 1px #125590,
        inset 0px 2px 4px #125590,
        inset 0px 4px 6px #125590;
    border-radius: 0.4rem;
}

input[type='button']:hover,
.btn:hover,
.window:hover {
    color: #fff;
    background-color: #222;
    box-shadow: inset 0px 2px 4px #125590,
        inset 0px 4px 8px #125590,
        inset 0px 8px 16px #125590;
    transition: 0.2s;
    transform: translateY(2px);
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 0.3;
    }

    60% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

.realWinTxt {
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 5s;
    animation-name: fadeIn;
    animation-duration: 5s;
}

footer {
    font-size: 0.6rem;
    color: #0f9ad6;
    position: absolute;
    text-align: center;
    left: 44%;
    margin-bottom: 0.5rem;
}

@media (max-width: 312px) {
    footer {
        left: 40%;
    }
}

@media (min-width: 492px) {
    .btn {
        margin-left: 3rem;
    }
}

@media (min-width: 768px) {
    .wrapper {
        grid-template-columns: repeat(2, 2fr);
    }

    .btn {
        margin-left: 4rem;
    }


}

@media (min-width: 868px) {
    p {
        font-size: 2rem;
    }

    .btn {
        margin-right: 1rem;

    }

    .btnSubmit {
        margin-left: 11rem;
    }

    .wrapper {
        grid-template-columns: repeat(4, 1fr);
    }

    footer {
        position: absolute;
        bottom: 0;
    }
}

@media (min-width: 1450px) {
    .btn {
        margin-top: 6rem;
    }

    .flip-cards {
        width: 21rem;
        height: 30rem;
    }



    footer {
        left: 47%;
    }

    #newUser {
        margin-top: 2rem;
        margin-left: 1rem;
    }

    .btnSubmit {
        margin-left: 6rem;
        margin-top: 1rem;
    }
}

@media (min-width: 1540px) {
    .window {
        margin-right: 5.8rem;
    }
}